*{
  font-family: 'Open Sans Condensed', sans-serif; 
}
code {
    font-family: 'Open Sans Condensed', sans-serif;
}


.home {
  background-image: url("https://img.food.com/img/upload/editorial/PACKAGE-COMFORT-FOOD/2016-12-23%20-%20Lasagna%20all%20day/four-lasagnes-16.jpg");
  padding: 25px 0 25px 0;
  height: 500px;
  background-size: 100%;
  color: white;
}

.favs {
  background-image: url("https://img.food.com/img/upload/editorial/PACKAGE-COMFORT-FOOD/2016-12-23%20-%20Lasagna%20all%20day/four-lasagnes-16.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.home-text {
  color: orange;
  display: inline;
  text-align: center;
}

.favsText {
  color: orange;
  display: inline;
  text-align: center;
}

.home-text-bg {
  background-color: white;
 margin: 10px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 5%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li{
  text-decoration: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  margin-right: 15px;
  color: white;
}

nav a:hover {
  color: black;
}

#login {
  width: 50%;
  max-width: 500px;
  border: 1px solid orange;
  /* box-shadow: 1px 1px 1px black; */
  border-radius: 5px;
  padding: 2%;
}

button{
  margin: 13px 12px 12px 10px;

}
